.container {
    padding:10px 0px;
}


.row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px 10px;   
    height: 100%;
    max-height: calc(100vh - 15px);
    width: 100%;
    max-width: 1300px;
    min-width: 0;
    flex: 1;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}