.grid {
    width: 100%;
    overflow-y: auto;
    padding-right: 15px;
  }
  
  .grid-sizer,
  .grid-item {
    width: calc(20% - 8px); /* 5 columns with 8px gutter */
  }
  
  .grid-item {
    float: left;
    margin:0px;
    padding:0px;
  }
  
  .grid-item img {
    width: 100%;
    display: block;
  }