.container-fluid {
    height: 100%;
    width: 100%;
    display: flex;
}

.row {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.input-header {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 20px;
}

.input-header::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}

.header {
    display: flex;
    border-bottom: 1px solid black;
    height: 15%;
    justify-content: space-between;
    align-items: center;
}

.title-header {
   padding: 0 0 0 10px;    
}

.publish-btn {
    border: 1px solid black;
    margin: 0 15px 0 0;
    height: 25px;
    width: 50px;
}

.input-div {
    width: 100%;
    margin-bottom: 160px;
    height: 100%;
}

.file-input {
    position: relative;
    height: 450px;
    width: 30%;
    border: 1px solid black;
    margin: 25px 45px;
}

.text-div {
    border: 1px solid black;
    width: 60%;
    margin: -475px 0 0 445px;
    padding: 0 10px 80px 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 10px 0;
    background-color: transparent;
}

.input-label {
    font-size: 0.92rem;
    padding: 4px;
    margin: 0 0 0 -5px;
}

.input-title,
.input-description,
.input-link,
.input-board,
.input-tag {
    height: 35px;
    border-radius: 10px;
    background-color: aliceblue;
    border: 0;
    color: black;
}

.input-title {
    height: 48px;
}

.input-description {
    height: 70px;
}


@media (max-width: 960px) {
    .input-div {
        margin-bottom: 380px;
    }

    .text-div {
        width: 80%;
        margin: 50px auto;
        padding: 0;
    }

    .file-input {
        height: 400px;
        width: 40%;
        margin: 25px auto;
    }

    .input-wrapper {
        padding: 10px;
        margin: 20px 0;
    }
}